{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all"
}
